name: copilot-run-integration-tests

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      BACKEND_HOST:
        required: true
        type: string

permissions:
  contents: read

jobs:
  tests:
    environment: ${{inputs.ENVIRONMENT}}
    name: Integration Testing
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Run integration tests
        run: dotnet test --environment BaseUrl="https://${{inputs.BACKEND_HOST}}.azurewebsites.net/" --logger trx
