name: copilot-deploy-environment

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      WEBAPI_ARTIFACT_NAME:
        required: true
        type: string
      MEMORYPIPELINE_ARTIFACT_NAME:
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      WEB_API_KEY:
        required: true
      AZURE_OPENAI_ENDPOINT:
        required: true
      APPLICATION_AUTHORITY:
        required: true

permissions:
  contents: read
  id-token: write

jobs:
  deploy-infra:
    uses: ./.github/workflows/copilot-deploy-infra.yml
    with:
      ENVIRONMENT: ${{inputs.ENVIRONMENT}}
    secrets:
      AZURE_CLIENT_ID: ${{secrets.AZURE_CLIENT_ID}}
      AZURE_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}
      AZURE_SUBSCRIPTION_ID: ${{secrets.AZURE_SUBSCRIPTION_ID}}
      WEB_API_KEY: ${{secrets.WEB_API_KEY}}
      AZURE_OPENAI_ENDPOINT: ${{secrets.AZURE_OPENAI_ENDPOINT}}

  deploy-backend:
    needs: [deploy-infra]
    uses: ./.github/workflows/copilot-deploy-backend.yml
    with:
      ARTIFACT_NAME: ${{inputs.WEBAPI_ARTIFACT_NAME}}
      DEPLOYMENT_NAME: ${{needs.deploy-infra.outputs.deployment-id}}
      ENVIRONMENT: ${{inputs.ENVIRONMENT}}
    secrets:
      AZURE_CLIENT_ID: ${{secrets.AZURE_CLIENT_ID}}
      AZURE_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}
      AZURE_SUBSCRIPTION_ID: ${{secrets.AZURE_SUBSCRIPTION_ID}}

  deploy-memorypipeline:
    needs: [deploy-infra]
    uses: ./.github/workflows/copilot-deploy-memorypipeline.yml
    with:
      ARTIFACT_NAME: ${{inputs.MEMORYPIPELINE_ARTIFACT_NAME}}
      DEPLOYMENT_NAME: ${{needs.deploy-infra.outputs.deployment-id}}
      ENVIRONMENT: ${{inputs.ENVIRONMENT}}
    secrets:
      AZURE_CLIENT_ID: ${{secrets.AZURE_CLIENT_ID}}
      AZURE_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}
      AZURE_SUBSCRIPTION_ID: ${{secrets.AZURE_SUBSCRIPTION_ID}}

  deploy-frontend:
    needs: [deploy-infra]
    uses: ./.github/workflows/copilot-deploy-frontend.yml
    with:
      DEPLOYMENT_NAME: ${{needs.deploy-infra.outputs.deployment-id}}
      ENVIRONMENT: ${{inputs.ENVIRONMENT}}
    secrets:
      AZURE_CLIENT_ID: ${{secrets.AZURE_CLIENT_ID}}
      AZURE_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}
      AZURE_SUBSCRIPTION_ID: ${{secrets.AZURE_SUBSCRIPTION_ID}}
      APPLICATION_AUTHORITY: ${{secrets.APPLICATION_AUTHORITY}}
